# Introduction
This assignment will test how well you're able to perform various data science-related tasks.

Each Problem Group below will center around a particular dataset that you have worked with before.

To ensure you receive full credit for a question, make sure you demonstrate the appropriate pandas, altair, or other commands as requested in the provided code blocks. 

You may find that some questions require multiple steps to fully answer. Others require some mental arithmetic in addition to pandas commands. Use your best judgment.

## Submission
Each problem group asks a series of questions. This assignment consists of two submissions:

1. After completing the questions below, open the Module 01 Assessment Quiz in Canvas and enter your answers to these questions there.

2. After completing and submitting the quiz, save this Colab notebook as a GitHub Gist (You'll need to create a GitHub account for this), by selecting `Save a copy as a GitHub Gist` from the `File` menu above.

    In Canvas, open the Module 01 Assessment GitHub Gist assignment and paste the GitHub Gist URL for this notebook. Then submit that assignment.

## Problem Group 1

For the questions in this group, you'll work with the Netflix Movies Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv)

### Question 1
Load the dataset into a Pandas data frame and determine what data type is used to store the `release_year` feature.

In [14]:
import pandas as pd
netflix = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/netflix_titles.csv")
netflix.head(10)

In [13]:
netflix.dtypes #int64 for release_year

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

### Question 2
Filter your dataset so it contains only `TV Shows`. How many of those TV Shows were rated `TV-Y7`?

In [16]:
tv = netflix.loc[netflix["type"] == "TV Show"]
tv.head()

     show_id  ...                                        description
2   70234439  ...  With the help of three human allies, the Autob...
3   80058654  ...  When a prison ship crash unleashes hundreds of...
5   80163890  ...  A young journalist is forced into a life of cr...
8   80117902  ...  As California's 2016 fire season rages, brave ...
26  80244601  ...  As four couples with different lifestyles go t...

[5 rows x 12 columns]

In [17]:
tv.groupby(["rating"]).size() #100 shows are rated TV-Y7

rating
G             1
NR           16
PG            1
R             2
TV-14       660
TV-G         69
TV-MA       679
TV-PG       269
TV-Y        102
TV-Y7       100
TV-Y7-FV     68
dtype: int64

### Question 3
Further filter your dataset so it only contains TV Shows released between the years 2000 and 2009 inclusive. How many of *those* shows were rated `TV-Y7`?

In [31]:
year2000_2009 = tv[(tv["release_year"] >= 2000) & (tv["release_year"] <= 2009)]
year2000_2009.head(15) 
year2000_2009.groupby(["rating"]).size() #4 shows are rated TV-Y7

rating
NR           4
TV-14       52
TV-G         4
TV-MA       13
TV-PG       22
TV-Y         3
TV-Y7        4
TV-Y7-FV    11
dtype: int64

## Problem Group 2

For the questions in this group, you'll work with the Cereal Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv)

### Question 4
After importing the dataset into a pandas data frame, determine the median amount of `protein` in cereal brands manufactured by Kelloggs. (`mfr` code "K")

In [33]:
import pandas as pd
cereal = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/cereal.csv")
cereal.head(5)

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

In [68]:
kell_protein =  cereal.loc[cereal["mfr"] == "K"]
kell_protein.head(10)

                         name mfr type  ...  cups     rating  healthiness
2                    All-Bran   K    C  ...  0.33  59.425505      5.800000
3   All-Bran with Extra Fiber   K    C  ...  0.50  93.704912           inf
6                 Apple Jacks   K    C  ...  1.00  33.174094      2.071429
16                Corn Flakes   K    C  ...  1.00  45.863324      2.500000
17                  Corn Pops   K    C  ...  1.00  35.782791      1.083333
19         Cracklin' Oat Bran   K    C  ...  0.50  40.448772      3.571429
21                    Crispix   K    C  ...  1.00  46.895644      2.333333
24                Froot Loops   K    C  ...  1.00  32.207582      2.076923
25             Frosted Flakes   K    C  ...  0.75  31.435973      1.090909
26        Frosted Mini-Wheats   K    C  ...  0.80  58.345141      3.428571

[10 rows x 17 columns]

In [70]:
kell_protein.protein.median()

3.0

### Question 5
In order to comply with new government regulations, all cereals must now come with a "Healthiness" rating. This rating is calculated based on this formula:

    healthiness = (protein + fiber) / sugar

Create a new `healthiness` column populated with values based on the above formula.

Then, determine the median healthiness value for only General Mills cereals (`mfr` = "G"), rounded to two decimal places.

In [134]:
cereal["healthiness"] = (cereal['protein']) + (cereal['fiber']) / (cereal['sugars'])

In [149]:
healthiness = cereal.loc[cereal["mfr"] == "G"]
cereal["healthiness"] = cereal['healthiness'].round(2)
healthiness.head()

                       name mfr type  ...  cups     rating  healthiness
5   Apple Cinnamon Cheerios   G    C  ...  0.75  29.509541         2.15
7                   Basic 4   G    C  ...  0.75  37.038562         3.25
11                 Cheerios   G    C  ...  1.25  50.764999         8.00
12    Cinnamon Toast Crunch   G    C  ...  0.75  19.823573         1.00
13                 Clusters   G    C  ...  0.50  40.400208         3.29

[5 rows x 17 columns]

In [154]:
healthiness.healthiness.median()

2.175

## Problem Group 3

For the questions in this group, you'll work with the Titanic Dataset found at this url: [https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv](https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv)

### Question 6

After loading the dataset into a pandas DataFrame, create a new column called `NameGroup` that contains the first letter of the passenger's surname in lower case.

Note that in the dataset, passenger's names are provided in the `Name` column and are listed as:

    Surname, Given names

For example, if a passenger's `Name` is `Braund, Mr. Owen Harris`, the `NameGroup` column should contain the value `b`.

Then count how many passengers have a `NameGroup` value of `k`.

In [87]:
import pandas as pd
titanic = pd.read_csv("https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/titanic.csv")
titanic.head()

   PassengerId Survived  Pclass  ...     Fare Cabin  Embarked
0            1       No       3  ...   7.2500   NaN         S
1            2      Yes       1  ...  71.2833   C85         C
2            3      Yes       3  ...   7.9250   NaN         S
3            4      Yes       1  ...  53.1000  C123         S
4            5       No       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [104]:
titanic["first_name"] = titanic["Name"].str.split(",").str.get(0)
titanic['first_letter'] = titanic['first_name'].astype(str).str[0]
titanic.head()

   PassengerId Survived  Pclass  ... Embarked first_name  first_letter
0            1       No       3  ...        S     Braund             B
1            2      Yes       1  ...        C    Cumings             C
2            3      Yes       3  ...        S  Heikkinen             H
3            4      Yes       1  ...        S   Futrelle             F
4            5       No       3  ...        S      Allen             A

[5 rows x 14 columns]

In [121]:
titanic.groupby(["first_letter"]).size()

first_letter
A    51
B    72
C    69
D    39
E    12
F    31
G    41
H    69
I     6
J    30
K    28
L    48
M    74
N    29
O    23
P    47
Q     2
R    41
S    86
T    30
U     1
V    13
W    33
Y     7
Z     3
d     4
v     2
dtype: int64

In [123]:
titanic.first_letter.str.count("K").sum()

28